  #root {
   /* padding: 0; */
   /* text-align: center; */
   margin: 0 auto; 
   /* align-items: center; */
   /* justify-content: center; */

   /* max-width: 100vw; */
  }    
  .homePagewrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.formwrapper{

  background: linear-gradient(#284b41,#0c864d);
  
  padding: 20px;
  border-radius: 15px;
  width: 470px;
  height: 300px;
  max-width: 90%;
  
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: rgb(232, 201, 201);
}

.form{
  display: flex;
  flex-direction: column;

}
/* .someStyle{
  display: inline-block;

} */
.homeLogo{
  display: flex;
  align-items: flex-start;
  position:absolute;
  height: 60px;
  margin-left: 18px;
  margin-top: 18px;
  color: rgb(225, 231, 236);
}
 .styling{
  display: flex;
  margin: 0;
  margin-left: 105px;
  font-size: 60px;
  font-weight: 40;
  width: 10px;
  height: 20px;
 }  

.code{
  display: flex;
  /* flex-direction: row-reverse; */
  margin-top: 2px;
  margin-left: 150px;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.mainLabel{
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  margin-bottom: 10px;
  background: rgb(213, 234, 228);
  font-size: 12px;
  font-weight: bold;

}

.btn{
   border: none;
   padding: 10px;
   border-radius: 8px;
   font-size: 11px;
   cursor: pointer;
   transition: all 0.1s ease-in-out;
   
}

.joinBtn{
  background-color: rgb(26, 36, 31);
  color: white;
  width: 80px;
  height: 40px;
  margin-left: auto;
  font-size: 16px;
  margin-right: 25px;
}

.joinBtn:hover

{
  background-color: rgb(73, 78, 70);
  color: rgb(246, 241, 241);
  transition: all 0.1s ease-in-out;

}
.information{
  margin:0 auto;
  
}
.createNewBtn{
  color: rgb(209, 241, 228);
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid rgb(84, 156, 127) ;
  transition: all 0.3s ease-in-out;
}
.createNewBtn:hover,
footer a:hover{
       color: rgb(140, 107, 60);
       border-color: rgb(136, 127, 127);

}



.mainWrapper{
  width: 97vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 97vh;

}

.side{
  display: flex;
  flex-direction: column;
  background: rgb(18, 51, 37);
  background: linear-gradient(#193e33,#248357);
  
  height: 80vh;
  border: none;
  padding: 12px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 130px;
  width: 110%;
  
}
 .sideinner{
  flex: 1;


} 
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}


.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: rgb(149, 133, 133);
  font-size: 20px;
}
.userName{
  margin-top: 10px;
}

.editorWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.editorContent{
  flex: 1;
}

.someBtns{
  display: flex;
  
}
.copyBtn{
  font-size: 15px;
  background-color: rgb(125, 134, 129);
  height: 30px;
  border: none;
  width: 250px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 1px;
  margin-left: auto;

}

.leaveBtn{
  background-color: rgb(25, 98, 60);
  color: white;
  width: 80px;
  height: 30px;
  font-size: 15px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2%;
}

.myEditor{
   
   margin-left: 70px;
   margin-right: 100px;
   height: 70vh;
   margin-top: 30px;
   
 

}
   
